@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ruda', sans-serif;
}

h1{
    font-size: 1.5rem;
}

body{
    background-color: #D1D1D1;
}

.logo{
width: 16rem;
padding-top: 15px;
padding-bottom: 15px;
cursor: pointer;
}

/*HOME PAGE*/

.header-homepage{
    background-color: #E3293B;
    text-align: center;
}

.section1-homepage{
    padding-top: 30px;
}

.div-s1-homepage{
    background-color: #E3F2FD;
    padding: 2rem;
    text-align: center;
}

.section2-homepage{
    padding-top: 95px;
    margin-bottom: 150px;
}

.div-s2-homepage{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 25px;
}

.button-homepage{
    border-radius: 100px;
    border: none;
    padding: 2rem;
    width: 17rem;
    font-size: 2.3rem;
    transition: 0.2s;
}

.button-homepage:hover{
    -webkit-box-shadow: 0px 6px 25px 16px rgba(227,41,59,0.53); 
    box-shadow: 0px 6px 25px 16px rgba(227,41,59,0.53);
    cursor: pointer;
    background-color: #1C3144;
    color: white;
}

.footer-homepage{
  background-color: #E3293B;
}

.div1-f-homepage{
    background-color: #E3293B;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 16%;
}

.div2-f-homepage{
    background-color: #1C3144;
    width: 100%;
    position: fixed;
    height: 8%;
    bottom: 0;
}

/*HOME PAGE - END*/

/*OWNERS PAGE*/
.body-owners{
    background-image: url(../_image/pokeball.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 25%;
    background-attachment: fixed;
}
.header-owners{
    background-color: #E3293B;
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
    padding: 0 20px;
}

.button-h{
    border-radius: 100px;
    border: none;
    padding: 1rem;
    width: 12rem;
    font-size: 1.4rem;
    transition: 0.2s;
    margin: 10px 0;
}

.button-h:hover{
    cursor: pointer;
    background-color: #1C3144;
    color: white;
}

.main-owners{
    display: flex;
    justify-content: space-around;
}

.section1-owners{
    margin-left: 2%;
    margin-right: 2%;
    position: absolute;
    width: 30%;
    left: 0;
    top: 30%;
    font-size: 1em;
}

.section2-owners{
    margin-left: 2%;
    margin-right: 2%;
    position: absolute;
    width: 30%;
    height: 30%;
    right: 0;
    top: 30%;
    font-size: 1em;
}

@media (max-width:730px) {
    .section1-owners{
        font-size: 0.8rem;
    }

    .section2-owners{
        font-size: 0.8rem;
    }
}

@media (max-width:530px) {
    .section1-owners{
        font-size: 0.73rem;
    }

    .section2-owners{
        font-size: 0.73rem;
    }
}

.p-owners{
    text-align: justify;
    text-indent: 30px;
}

.div1-f-owners{
    background-color: #E3293B;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 16%;
}

.div2-f-owners{
    background-color: #1C3144;
    width: 100%;
    position: fixed;
    height: 8%;
    bottom: 0;
}
/*OWNERS PAGE - END*/

/*ERROR PAGE*/
.header-error{
    background-color: #E3293B;
    padding: 0 20px;
    text-align: center;
}

.main-error{
    padding-top: 30px;
}

.image-s1-error{
    width: 650px;
    position: absolute;
    transition: 0.5s;
}

@media (max-width:1083px) {
    .image-s1-error{
        opacity: 0.1;
    }
}

.section2-error{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 70px;
    position: absolute;
    left: 60%;
    transition: 0.4s;
    margin-right: 10px;
}

.div1-m-error{
    background-color: #E3293B;
    color: white;
    margin-bottom: 20px;
    width: 70%;
    padding: 15px;
    transition: 0.2s;
}

@media (max-width:1083px) {
    .div1-m-error{
        width: 80%;
    }
    .section2-error{
        left: 55%;
    }
}

@media (max-width:700px) {
    .div1-m-error{
        width: 90%;
    }
    .section2-error{
        left: 50%;
    }
}

@media (max-width:550px) {
    .div1-m-error{
        width: 72%;
    }
    .section2-error{
        left: 21%;
    }
}

.h1-s2-error{
    transition: 0.2s;
    font-size: 2.8rem;
}

.div2-m-error{
    width: 70%;
    padding: 0 10px;
}

.p-error{
    text-align: justify;
    width: 100%;
    font-size: 1.2rem;
    transition: 0.2s;
}

.div1-f-error{
    background-color: #E3293B;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 16%;
}

.div2-f-error{
    background-color: #1C3144;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
}
/*ERROR PAGE - END*/

/*REGISTER PAGE*/
.body-register{
overflow: hidden;
}

.header-register{
    position: relative;
    background-color: #E3293B;
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
    padding: 0 20px;
    z-index: 2;
}

.section1-register{
    padding-top: 30px;
}

.div1-s1-register{
    position: relative;
    background-color: #E3F2FD;
    padding: 1rem;
    z-index: 2;
    text-align: center;
    width: 60%;
}

.h1-s1-register{
   position: relative;
   right: 5%;
}

.div2-s1-register{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 30%;
    position: absolute;
    left: 8%;
    top: 43%;
}

.input-s1{
    padding: 3%;
    border: none;
}

.input2-s1{
    padding: 5%;
    border: none;
}

.input-s1:focus{
    outline: none;
}

.input2-s1:focus{
    outline: none;
}

.label-register{
    padding: 15px 10px;
    width: 100%;
    background-color: #1C3144;
    color: white;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.label-register:hover{
    background-color: #CC3342;
}

#imageRomero{
    display: none;
}

.button-register{
    border: none;
    padding: 5%;
    background-color: #E3F2FD;
    cursor: pointer;
    transition: 0.2s;
    text-transform: uppercase;
    font-size: 20px;
}

.button-register:hover{
    background-color: #FFCC03;

}

.div1-s2-register{
    background-color: #1C3144;
    padding: 1rem;
    position: absolute;
    top: 18.7%;
    right: 0;
    width: 40%;
    text-align: center;
    color: white;
    z-index: 2;
}

.div2-s2-register{
    position: absolute;
    background-color: #CC3342;
    transform: rotate(17deg);
    width: 170px;
    height: 650px;
    left: 48%;
    top: 6%;
    z-index: 1;
}

.div3-s2-register{
    position: absolute;
    background-color: #DB5461;
    width: 560px;
    height: 600px;
    right: 0;
    bottom: 0;
}

/*REGISTER PAGE - END*/