body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', sans-serif;
  overflow: hidden;
}

.section_div_image_pokeball{
  width: 150px;
}

.section_div_image {
  margin: 10px 0;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.section_div {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_div_form {
  display: flex;
  flex-direction: column;
}

.section_div_form input {
  font-weight: bold;
  padding: 0 15px;
  margin-top: 12px;
  background-color: #E3F2FD;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  outline: none;
  height: 45px;
}

.section_div_form input::placeholder {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.section_div_form input[type="submit"] {
  color: #E3F2FD;
  background-color: #DB5461;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 400ms;
}

.section_div_form input[type="submit"]:hover {
  background-color: #CC3342;
}